<header ng-include="'templates/user/header.html'"></header>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Change Password</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" ng-controller="ChangePasswordController">
        <form name="changePasswordForm" class="form-horizontal" autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <legend>Change Password</legend>
                    </div>
                </div>
                <div class="form-group">
                    <label for="old-password" class="col-md-3 control-label">Old password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="password.oldPassword" id="old-password" required="required" placeholder="Old password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-password" class="col-md-3 control-label">New password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="password.newPassword" id="new-password" required="required" placeholder="New password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password" class="col-md-3 control-label">Confirm password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="password.confirmPassword" id="confirm-password" required="required" placeholder="Confirm password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-lg-offset-3">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="changePassword(password, changePasswordForm)">Change password</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>