<header ng-include="'templates/user/header.html'"></header>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Edit Profile</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" ng-controller="EditProfileController">
        <form name="editProfileForm" class="form-horizontal" autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <legend>Edit profile</legend>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerName" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-init="editUserData.name = editUser.name" ng-model="editUserData.name" id="registerName" required="required" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" ng-init="editUserData.email = editUser.email" ng-model="editUserData.email" id="inputEmail" required="required" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputProfileImageData" class="col-md-3 control-label">Profile picture<br />Limit: 128kb</label>
                    <div class="col-md-9">
                        <input type="file" class="form-control" ng-init="editUserData.profileImageData = editUser.profileImageData" ng-model="editUserData.profileImageData" base-sixty-four-input id="inputProfileImageData" placeholder="img" ng-change="formatProfileImgToBase64()">
                        <img src="" ng-src="{{editUserData.profileImageData}}" class="img-thumbnail img-responsive" base-sixty-four-image="editUserData.profileImageData" alt="{{editUser.name}}" ng-if="editUserData.profileImageData"/>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCoverImageData" class="col-md-3 control-label">Cover picture<br />Limit: 1024kb</label>
                    <div class="col-md-9">
                        <input type="file" class="form-control" ng-init="editUserData.coverImageData = editUser.coverImageData" ng-model="editUserData.coverImageData" base-sixty-four-input id="inputCoverImageData" placeholder="img" ng-change="formatCoverImgToBase64()">
                        <img src="" ng-src="{{editUserData.coverImageData}}" class="img-thumbnail img-responsive" base-sixty-four-image="editUserData.coverImageData" alt="{{editUser.name}}" ng-if="editUserData.coverImageData"/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-init="editUserData.gender = editUser.gender" ng-model="editUserData.gender" name="gender" value="1">Male
                            </label>
                            <label>
                                <input type="radio" ng-init="editUserData.gender = editUser.gender" ng-model="editUserData.gender" name="gender" value="2">Female
                            </label>
                            <label>
                                <input type="radio" ng-init="editUserData.gender = editUser.gender" ng-model="editUserData.gender" name="gender" value="0">Other
                            </label>
                        </div>
                        <div class="radio">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-lg-offset-3">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="editProfile(editUserData, editProfileForm)">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>