<div layout="row" layout-margin layout-fill layout-padding>
    <div flex>
        <md-toolbar class="md-accent">
            <h2 class="md-toolbar-tools">
                <span flex>Welcome to Social Network Stefoto!</span>
                <md-button class="md-fab md-accent" aria-label="refresh">
                    <md-tooltip>
                        Refresh
                    </md-tooltip>
                    <md-icon md-svg-src="/img/icons/ic_refresh_24px.svg" style="width: 24px; height: 24px;">
                    </md-icon>
                </md-button>
            </h2>
        </md-toolbar>
    </div>
</div>
<div>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Login">
                <md-content class="md-padding">
                    <div flex ng-controller="LoginController">
                        <form name="loginForm" class="form-horizontal" autocomplete="off">
                            <md-whiteframe class="md-whiteframe-z4" layout="column" layout-align="space-between center">
                                <div layout="column" class="md-theme-light">
                                    <md-subheader class="md-primary">Login</md-subheader>
                                </div>
                                <div layout="column" layout-align="start start">
                                    <md-input-container flex>
                                        <label for="loginUsername">Username</label>
                                        <input type="text" class="form-control" id="loginUsername" ng-model="loginUser.username">
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label for="loginPassword">Password</label>
                                        <input type="password" class="form-control" id="loginPassword" ng-model="loginUser.password">
                                    </md-input-container>
                                    <md-checkbox ng-model="rememberMe" aria-label="Checkbox 1">
                                        Remember me
                                    </md-checkbox>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <md-button type="reset" class="md-raised md-primary">Clear</md-button>
                                        <md-button type="submit" class="md-raised md-primary" ng-click="login(loginUser, loginForm)">Login</md-button>
                                    </div>
                                </div>
                            </md-whiteframe>
                        </form>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Register">
                <md-content class="md-padding">
                    <div flex ng-controller="RegisterController">
                        <form name="registerForm" class="form-horizontal" autocomplete="off">
                            <md-whiteframe class="md-whiteframe-z4" layout="column" layout-align="space-between center">
                                <div layout="column" class="md-theme-light">
                                    <md-subheader class="md-primary">Register</md-subheader>
                                </div>
                                <div layout="column" layout-sm="column">
                                    <md-input-container flex>
                                        <label for="registerUsername">Username</label>
                                        <input type="text" class="form-control" ng-model="user.username" id="registerUsername" required="required">
                                    </md-input-container>
                                </div>
                                <div layout="column" class="md-theme-light">
                                    <md-input-container flex>
                                        <label for="registerPassword">Password</label>
                                        <input type="password" class="form-control" ng-model="user.password" id="registerPassword" required="required">
                                    </md-input-container>
                                </div>
                                <div class="form-group">
                                    <md-input-container flex>
                                        <label for="registerConfirmPassword">Confirm password</label>
                                        <input type="password" class="form-control" ng-model="user.confirmPassword" id="registerConfirmPassword" required="required">
                                    </md-input-container>
                                </div>
                                <div class="form-group">
                                    <md-input-container flex>
                                        <label for="registerName">Name</label>
                                        <input type="text" class="form-control" ng-model="user.name" id="registerName" required="required">
                                    </md-input-container>
                                </div>
                                <div class="form-group">
                                    <md-input-container flex>
                                        <label for="inputEmail">E-mail</label>
                                        <input type="email" class="form-control" ng-model="user.email" id="inputEmail" required="required">
                                    </md-input-container>
                                </div>
                                <md-subheader class="md-primary">Gender</md-subheader>
                                <md-radio-group layout="row" layout-align="center center">
                                    <md-radio-button value="1" ng-model="user.gender" class="md-primary">Male</md-radio-button>
                                    <md-radio-button value="2" ng-model="user.gender" class="md-primary">Female </md-radio-button>
                                    <md-radio-button value="3" ng-model="user.gender" class="md-primary">Other</md-radio-button>
                                </md-radio-group>

                                <div class="form-group">
                                    <div class="col-md-9 col-lg-offset-3">
                                        <md-button type="reset" class="md-raised md-primary">Clear</md-button>
                                        <md-button type="submit" class="md-raised md-primary" ng-click="register(user, registerForm)">Register</md-button>
                                    </div>
                                </div>
                            </md-whiteframe>
                        </form>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>