<header ng-include="'partials/guest/guest-header.html'"></header>

<div id="jumbotron" class="row">
    <div class="jumbotron col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <h1>Welcome to Software University's Social Network</h1>
        <p>Please register/login to use our services.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-1" ng-controller="LoginController">
        <form name="loginForm" class="form-horizontal" autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <legend>Login</legend>
                    </div>
                </div>
                <div class="form-group">
                    <label for="loginUsername" class="col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="loginUsername" ng-model="user.username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="loginPassword" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="loginPassword" ng-model="user.password" placeholder="Password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="rememberMe"> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="login(user, loginForm)">Login</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-5" ng-controller="RegisterController">
        <form name="registerForm" class="form-horizontal" autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <legend>Register</legend>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerUsername" class="col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="user.username" id="registerUsername" required="required" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerPassword" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="user.password" id="registerPassword" required="required" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerConfirmPassword" class="col-md-3 control-label">Confirm password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" ng-model="user.confirmPassword" id="registerConfirmPassword" required="required" placeholder="Confirm password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerName" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="user.name" id="registerName" required="required" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" ng-model="user.email" id="inputEmail" required="required" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Gender</label>
                    <div class="col-md-9">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" value="mail">Male
                            </label>
                            <label>
                                <input type="radio" name="gender" value="female">Female
                            </label>
                            <label>
                                <input type="radio" name="gender" value="other">Other
                            </label>
                        </div>
                        <div class="radio">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-lg-offset-3">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="register(user, registerForm)">Register</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>